.start-page {
    display: flex;
    width: 375px;
    height: 100%; 
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    
}

.start-page-text{
    display: flex;
    padding: 0 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.start-page-text h1 {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}

.content-space {
    flex-grow: 1; 
    flex-shrink: 0; 
    height: auto;   
    min-height: 0;
}