
.archiving-detail-container {
    background-color: #121212; 
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}


.detail-header {
    
    flex-shrink: 0; 
    padding: 50px 16px 30px 16px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    background-color: #121212;
}

/* .back-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: -10px;
} */

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
}


.detail-scroll-area {
   
    flex-grow: 1; 
    height: 100%; 
    padding: 0 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding-bottom: 290px; 
}

.detail-scroll-area::-webkit-scrollbar {
    display: none;
}




.title-section {
    padding-top: 10px;
    margin-bottom: 16px;
}

.detail-date {
    color: var(--White-Low, rgba(255, 255, 255, 0.20));

   
    margin: 0;
    margin-bottom: 2px;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.title-edit-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.detail-title {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    
    margin: 0;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.title-input {
    background-color: #3C3C3C;
    color: var(--White-High, rgba(255, 255, 255, 0.88));

   
    margin: 0;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    padding: 2px 4px 0 0;
}



.run-stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    text-align: center;
    padding: 16px 4px 12px 4px;
    border-top: 1px solid #3C3C3C;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat-item .value {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

   
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.stat-item .label {
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

    
    margin-top: 4px;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; 
}

.detail-image-container {
    width: 100%;
    height: 335px;
    align-self: stretch;
    
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 16px;
    
}

.detail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}


.course-info-section {
    margin-bottom: 4px;
    border-top: 1px solid #3C3C3C;
}
.ssection-title {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

   
    margin: 16px 4px 0 4px;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
}



.archiving-detail-course-wrapper .course-item-card {
    background-color: #121212;
}


.laps-section {
    margin-bottom: 30px;
    border-top: 1px solid #3C3C3C;
}


.laps-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    background-color: #121212; 
    border-radius: 8px;
    overflow: hidden;
}


.laps-table th, .laps-table td {
    padding: 8px 4px 0 4px ;
    margin-right: 20px;
    
}

.laps-table th:nth-child(1), .laps-table td:nth-child(1) {
    width: 30%; 
    text-align: left;
    padding-right: 30px;
}


.laps-table th:nth-child(2), .laps-table td:nth-child(2) {
    
    width: 40%; 
    text-align: left;
    padding-right: 10px;
}

.laps-table th:nth-child(3), .laps-table td:nth-child(3) {
    width: 30%;
    
    text-align: left;
    padding-right: 10px;
}


.laps-table th {
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

 
    font-family: Pretendard;
    align-items: flex-start;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; 
}

.laps-table td{
    color: var(--White-High, rgba(255, 255, 255, 0.88));

   
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 140%; 
}

.laps-table th:first-child, .laps-table td:first-child {
    text-align: left;
    width: 10%;
}

.laps-table tbody tr:last-child td {
    border-bottom: none;
}

.course-archiving-row {
    cursor: pointer;
}

.course-archiving-row:hover {
    background-color: #2c2c2c;
}



.memo-section {
    padding-bottom: 20px;
}

.memo-content {
    background-color: #2C2C2C;
    border-radius: 8px;
    padding: 15px;
    margin-top: 0;
    white-space: pre-wrap; 
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

   
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 140%; 
    margin: 0;
}

.memo-char-count {
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

    
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    text-align: right;
    margin: 4px;
}

.memo-textarea {
    width: 100%;
     background-color: #2C2C2C;
    border-radius: 8px;
    padding: 15px;
    margin-top: 0;
    white-space: pre-wrap; 
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

   
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 140%; 
    margin: 0;
}