

.result-page-container {
    width: 100%;
    height: 100%; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
    
    
    background-color: #000000; 
    color: #FFFFFF;
    position: relative;
    overflow-y: hidden; 
}

.type-description {
  white-space: pre-line;
}


.header-badge {
   
    display: none; 
}



.content-area {
    display: flex;
    flex-grow: 1; 
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.my-type-label {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: var(--Black-Info, #1E1E1E);
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

    
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    margin-bottom: 20px;
}


.type-image-placeholder {
    width: 160px;
    height: 160px;
    background-color: #FFFFFF; 
    border-radius: 4px;
}


.r-type-name {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

   
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    margin-bottom:8px ;
    margin-top: 20px;
}


.type-description {
    align-self: stretch;
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));
    text-align: center;

 
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    margin-bottom: 80px;

}