/* src/pages/CourseDetailPage/CourseDetailPage.css */


.c-detail-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 40px 20px;
    flex-grow: 1; 
    position: relative; 
}


.loading-screen, .error-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    font-size: 16px;
    color: #666;
}


.c-detail-top-buttons-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 20; 
    padding: 50px 16px 30px 16px;
    display: flex;
    justify-content: space-between;
    
    background: transparent; 
}

.c-detail-back-button-overlay {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
}

.c-detail-bookmark-button-overlay{
    background: none;
    border: none;
    cursor: pointer;
    
}

.c-detail-bookmark-button-overlay-img{
    display: flex;
    width: 20px;
    height: 20px;
    padding: 3.75px 5.4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.c-detail-scroll-content-wrapper {
    width: 335px;
    flex-grow: 1;
    overflow-y: auto; 
    
   
    
    
    margin-bottom: 70px;
}


.c-detail-scroll-content-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0; 
    display: none; 
}


.c-detail-main-info-section {
    
    margin-top: 0; 
}

.c-detail-header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.c-detail-course-title {
    flex: 1 0 0;
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    
    margin: 0;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.c-detail-course-content {
    color: var(--Gray, #9E9E9E);

  
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}


.c-detail-course-meta-info {
    margin-bottom: 20px;
}

.c-detail-meta-icon {
    position: relative;
    top: 1.5px; 
}

.c-detail-address-text{
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

    
    margin: 0;
    margin-bottom: 4px;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.c-detail-distance-text{
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

    
    margin: 0;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}


.c-detail-map-section {

    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20); 
}

.c-detail-MapSwiper { 
    width: 100%;
    height: 250px; 
    border-radius: 8px; 
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.c-detail-review-section {
    padding-bottom: 8px;
}

.c-detail-review-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.c-detail-review-title {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    
    margin: 0;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}

.c-detail-review-view-all {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.c-detail-review-view-all-bottom{
    display: flex;
    padding: 4px;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

   
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    cursor: pointer;
}