.swiper-container {
    width: 100%;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    white-space: nowrap; 
    margin-bottom: 20px;
  }
  
  .swiper-container::-webkit-scrollbar {
    display: none;
  }
  
  .swiper-wrapper {
    display: flex;
    align-items: flex-start;
  }
  
  .swiper-slide {
    flex: 0 0 auto; 
    width: 122px; 
    height: 122px;
    background-color: #d9d9d9;
    border-radius: 6px; 
    overflow: hidden; 
    margin-right: 16px; 
  }
  
  .swiper-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }