.reviewadd-page {
  background-color: #0f0f0f;
  color: #fff;
  min-height: 100vh;
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 80px 20px; 
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}


.reviewadd-header {
  width: 100%;
  margin-bottom: 20px;
  margin-left: -4px; 
}


.reviewadd-header-inner {
  display: flex;
  flex-direction: column;
  
  gap: 28px; 
}


.reviewadd-back-btn {
  background: none;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.reviewadd-back-icon {
  width: 20px;
  height: 20px;
  display: block;
  color: #9E9E9E;
  cursor: pointer;
  
}


.reviewadd-title-row {
  display: flex;
  align-items: baseline;
  gap: 4px;

 
}

.reviewadd-title {
  color: var(--White-High, rgba(255, 255, 255, 0.88));


font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
padding-left: 4px;
margin: 0;
}

.reviewadd-count {
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.88);
}


.reviewadd-content {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  flex-grow: 1
}

.reviewadd-empty {
  color: rgba(255, 255, 255, 0.88);
  font-size: 14px;
  text-align: center;
  margin-top: 40px;
}


.reviewadd-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.reviewadd-listitem {
  width: 100%;
}
