/* src/pages/ArchivingMapPage/ArchivingMapPage.css */

.arc-map-container {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    position: relative; 
    background-color: #f0f0f0; 
    overflow: hidden; 
}
.arc-map-container .arc-map-summary-card .course-meta {
  filter: brightness(0) invert(1); 
  opacity: 0.6; 
  
  
}


.arc-map-area, .arc-map-full-size {
    width: 100%;
    height: 100%; 
    flex-grow: 1; 
    position: relative;
    z-index: 1; 
}



.arc-map-header {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 20px 20px;
    z-index: 20; 
    background: var(--Black-Info, #1E1E1E);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.arc-map-header .header-title {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

   
    margin: 0;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.arc-map-header .header-icons {
    display: flex;
    gap: 16px;
}

.arc-map-header .header-icon-button-map {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: var(--Main, #FF003C);
    outline: none !important; 
    box-shadow: none !important;
    border: none;
    cursor: pointer;
}

.arc-map-header .header-icon-button-list {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: var(--Black-Interact, #2C2C2C);
    outline: none !important;
    box-shadow: none !important;
    border: none;
    cursor: pointer;
}


.arc-map-summary-card {
    position: absolute; 
    left: 0;
    right: 0;
    z-index: 1001; 
    width: 100%;
    
    
    height: auto; 
    max-height: calc(100vh - 50px); 
    bottom: 0; 
    
    background-color: #1E1E1E;
    padding: 20px 20px 0 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    cursor: default; 
    
    display: flex;
    flex-direction: column;

   
    transition: top 0.3s ease-out; 
}


.arc-map-drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px; 
    cursor: grab; 
    z-index: 5; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    &::before {
        content: '';
        width: 20px;
        height: 2px;
        border-radius: 4px;
        background: var(--White-Low, rgba(255, 255, 255, 0.20));
    }
}



.arc-map-card-scroll-content {
    flex-grow: 1; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch;
    padding-right: 5px; 
    scrollbar-width: none;
}
.arc-map-card-scroll-content::-webkit-scrollbar {
    display: none;
}


.arc-map-summary-card .archiving-course-info {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 12px 0;
    margin-bottom: 0; 
}
.arc-map-summary-card .arc-map-run-details {
    flex-shrink: 0; 
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 30px; 
}


.arc-map-bottom-nav { 
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 420px; 
    margin: 0 auto;
    z-index: 50; 
    background-color: #fff; 
    height: 60px; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.arc-map-loading-screen {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.course-thumbnail {
    width: 60px; 
    height: 60px;
    background-color: #ddd; 
    border-radius: 8px; 
    margin-right: 16px;
    overflow: hidden; 
}

.course-title{
    color: var(--White-High, rgba(255, 255, 255, 0.88));
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}


.archiving-list-item {
    padding: 16px 0; 
    border-bottom: 1px solid #505050;
    cursor: pointer;
}

.archiving-date {
    color: var(--White-Low, rgba(255, 255, 255, 0.20));

  
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0 0 2px 0;
}

.archiving-title {
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

    
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    margin-bottom: 12px;
    margin-top: 0;
}


.list-item-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap :20px;
}



.map-thumbnail-container {
    width: 60px; 
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1A1A1A; 
    flex-shrink: 0;
}

.map-thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.detail-columns {
    display: flex;
    flex-grow: 1;
    justify-content: space-between; 
    text-align: center;
    padding: 0 20px 0 0;
}

.detail-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 52px;
    
}

.detail-item .value {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}

.detail-item .label {
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

   
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; 
}

.current-location-wrap {
  
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; 
}

.current-location-icon {
  width: 28px;   
  height: 28px; 
  object-fit: contain;


}