/* src/component/BottomNavigator/BottomNavigator.css */


.nav-wrapper {
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    
   
    width: 100%;
    max-width: 375px; 
    
    z-index: 1000; 
    background-color: #181818; 
    
    
    
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}


.nav-container {
    display: flex;
    width: 375px;
    padding: 0 36px 24px 36px;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    border-radius: 16px 16px 0 0;
    background: var(--Black-Info, #1E1E1E);
}


.nav-item {
    display: flex;
    padding: 20px 8px 0 8px;
    flex-direction: column; 
    align-items: center;
    gap: 4px;
    
    color: var(--White-Low, rgba(255, 255, 255, 0.20));
    text-align: center;

    
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    cursor: pointer;
}


.nav-item.active {
    color: var(--White-High, rgba(255, 255, 255, 0.88));
    font-weight: 600;
}

/* 아이콘 이미지 크기 조정
.icon-placeholder img {
    width: 24px;
    height: 24px;
    margin-bottom: 3px;
} */