/* CustomSelect.css */


.custom-select-wrapper {
  position: relative;
  width: 131px; 
  user-select: none;
}


.custom-select-display {
  background-color: #121212;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.2s;
  color: var(--White-Medium, rgba(255, 255, 255, 0.6));
  text-align: center;

 
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
  cursor: pointer;
}

.custom-select-display:hover {
  border-color: #999;
}


.custom-select-display .placeholder {
  color: #a0a0a0;
}


.custom-select-arrow {
  width: 15px;
  height: 15px;
  background-image: url("https://runcode-likelion.s3.us-east-2.amazonaws.com/global/dropdown.svg"); /* 제공해주신 에셋 링크 적용 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease-in-out; 
  transform: rotate(0deg); 
  margin-left: 6px;
}


.custom-select-arrow.open {
  transform: rotate(180deg); 
}


.custom-select-options {
  position: absolute; 
  top: 100%; 
  left: 0;
  width: 131px;
  margin-top: 10px;
  border-radius: 12px;
  background: var(--Black-Interact, #2c2c2c);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);

  z-index: 100;
  list-style: none;
  padding: 0;
  max-height: 200px; 
  overflow-y: auto;
}


.custom-select-option {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--White-High, rgba(255, 255, 255, 0.88));

 
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.custom-option-separator.thin-line {
  height: 1px;
  background-color: #9e9e9e;
  width: 100%;

  transform: scaleY(0.3);
  transform-origin: top;
}

.custom-select-option:last-child {
  border-bottom: none;
}


.custom-select-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* 선택된 옵션 디자인 */
/* .custom-select-option.selected {
    background-color: #bae7ff;
    font-weight: bold;
    color: #1890ff;
} */
