/* src/pages/SavedCoursesPage/SavedCoursesPage.css */

.saved-courses-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #121212;
    color: #FFFFFF;
    padding-bottom: 70px; 
}


.saved-courses-header {
    padding: 72px 20px 0px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #121212;
}

.page-title {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    
    margin: 0;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}


.course-main-content {
    padding: 0 20px;
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none;
    margin-bottom: 20px;
}

.filter-sort-bar {
    display: flex;
    justify-content: flex-end; 
    padding: 4px 0;
    margin-right: 20px;
}

.sort-dropdown {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;         
    
    background: none;
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));
    border: none;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
    
    
    padding: 0px 19px 0px 0px; 
    
    
    background-image: url('https://runcode-likelion.s3.us-east-2.amazonaws.com/global/dropdown.svg');
    background-repeat: no-repeat;
    background-position: right center; 
    background-size: 14px 14px; 
    
}


.course-list {
    display: flex;
    flex-direction: column;
    gap: 0; 
}

.no-course-message, .loading-message {
    text-align: center;
    color: #888888;
    margin-top: 50px;
    font-size: 16px;
}


.skeleton-item-card {
    display: flex;
    padding: 16px 12px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
}

.skeleton-thumbnail {
    width: 88px;
    height: 88px;
    min-width: 88px;
    border-radius: 12px;
    padding-right: 16px;
    background: var(--White-Hover, rgba(255, 255, 255, 0.04));
    animation: pulse 1.5s infinite ease-in-out;  
}

.skeleton-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 5px;
}

.skeleton-line {
    height: 14px;
    background-color: #2C2C2C; 
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-line.full-width { width: 90%; }
.skeleton-line.medium-width { width: 60%; }
.skeleton-line.short-width { width: 40%; }

@keyframes pulse {
    0% { opacity: 0.8; }
    50% { opacity: 0.5; }
    100% { opacity: 0.8; }
}