/* src/component/CourseItem/CourseItem.css */

.course-item-card {
    display: flex;
    align-items: flex-start;
    width: 100%;
    
    padding: 16px 12px;
    gap: 16px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.04);
    margin-bottom: 12px;
    cursor: pointer;
    position: relative; 
}


.thumbnail-placeholder {
    width: 88px;
    height: 88px;

    min-width: 88px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #333;
}
.thumbnail-placeholder img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.course-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 88px;
}

.course-title {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    margin: 0;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.course-content {
    color: var(--Gray, #9E9E9E);
    margin: 4px 0;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    
}


.course-meta {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    font-style: normal;
    font-weight: 350;
    line-height: 140%;
    color: var(--White-High, rgba(255, 255, 255, 0.88));
    gap: 8px; 
    align-self: stretch;
    margin-top: auto;
}

.star-rating, .review-count, .distance {
    display: inline-flex;
    align-items: center;
}

.bookmark-button {
    position: absolute; 
    top: 16px; 
    right: 12px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
    line-height: 1; 
}
.bookmark-button img {
    width: 20px; 
    height: 20px;
}