.mypage {
  width: 100%;
  height: 100%;
  overflow-y: auto; 
  background-color: #121212;
  color: #fff;

  padding: 20px 20px 80px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Pretendard", sans-serif;
}

.mypage-title {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 40px 0 32px 0;
  width: 100%;
}

.mypage-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  background-color: #333;
}

.mypage-username {
  margin: 16px 0 40px 0;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.88);
}

.mypage-runner {
  width: 100%;
  background: #241114;
  border-radius: 16px;

  padding: 16px 20px;
  margin-bottom: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  transition: background 0.2s;
}

.mypage-runner:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.runner-label {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.88);
  margin-bottom: 4px;
}

.runner-value {
  color: #ff003c;
  font-size: 16px;
  font-weight: 500;
}

.runner-arrow {
  width: 20px;
  height: 20px;
}

.rotated {
  transform: rotate(180deg);
}

.mid-divider {
  width: 100%;
  height: 5px;
  background: #0f0f0f;
  margin: 8px 0 16px 0;
}

.mypage-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
}

.section-row,
.section-row1 {
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  background: none;
  border: none;
  text-align: left;
  color: rgba(255, 255, 255, 0.88);
  cursor: pointer;
}

.section-row1 {
  padding-bottom: 20px;
  font-weight: 600;
}

.divider {
  width: 100%;
  height: 1px;
  background: #333;
}

.logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.logout-modal-card {
  width: 270px;
  background: #121212;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-modal-text {
  font-size: 16px;
  padding: 16px;
  color: rgba(255, 255, 255, 0.88);
}

.logout-modal-separator {
  width: 100%;
  height: 1px;
  background: rgba(30, 30, 30, 0.75);
}

.logout-modal-buttons {
  width: 100%;
  height: 44px;
  display: flex;
}

.logout-yes,
.logout-no {
  flex: 1;
  background: none;
  border: none;
  color: #ff003c;
  font-weight: 600;
  cursor: pointer;
}

.logout-divider-vertical {
  width: 1px;
  background: rgba(30, 30, 30, 0.75);
}
