

.login-container {
    
    width: 100%; 
    height: 100%;
    
    
    position: relative; 
    overflow: hidden;

}


.login-container::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 40%); 
}