/* LoginPage.css */

.login-container {
    /* 앱 컨테이너 크기를 꽉 채우도록 설정 */
    width: 100%; 
    height: 100%;
    
    
    position: relative; 
    overflow: hidden;

}

/* 버튼 주변의 어두운 그라데이션 효과 (선택 사항) */
.login-container::after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* 하단이 더 어두워지도록 그라데이션을 주어 버튼을 부각시킴 */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 40%); 
}