.fixed-button-wrapper{
    display: flex;
    padding: 20px 20px 40px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute; 
    bottom: 0; 
    
}

.main-action-button {
    display: flex;
    width: 335px;
    height: 44px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Main, #FF003C);
    color: white; 
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.main-action-button:disabled {
    
    
    background: var(--Black-Interact, #2C2C2C);
    cursor: not-allowed;
    
    box-shadow: none; 
    
}

.main-action-button:focus,
.main-action-button:focus-visible {
    outline: none; 
    
    box-shadow: none; 
    border: none;
}

.main-action-button:active {
  
    
    box-shadow: inset 0 0 0 999px rgba(255, 255, 255, 0.1);
   
}

.button-text {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.button-text:disabled{
    color: var(--lightgray, #B3B3B3);
}