.fixed-button-wrapper{
    display: flex;
    padding: 20px 20px 40px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute; 
    bottom: 0; 
    
}

.main-action-button {
    display: flex;
    width: 335px;
    height: 44px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Main, #FF003C);
    color: white; 
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.main-action-button:disabled {
    /* 배경색을 다크 그레이로 지정 */
    
    color: #B3B3B3; /* 비활성화 시 텍스트 색상 */
    cursor: not-allowed;
    /* active 효과가 disabled 상태일 때는 적용되지 않도록 방지 */
    box-shadow: none; 
    
}

.main-action-button:focus,
.main-action-button:focus-visible {
    outline: none; /* 포커스 시 테두리 제거 */
    /* -webkit-tap-highlight-color: transparent;  */
    box-shadow: none; 
    border: none;
}

.main-action-button:active {
    /* 배경색을 살짝 어둡게 만들어 버튼이 '깊어지는' 느낌을 줍니다. */
    
    box-shadow: inset 0 0 0 999px rgba(255, 255, 255, 0.1);
    /* 또는 미세하게 축소하여 눌리는 느낌을 줄 수도 있습니다. */
    /* transform: scale(0.99); */
}

.button-text {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    /* 본문/14/Semibold */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
}