.archpic {
  background: #0f0f0f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.archpic-inner {
  width: 100%;
  max-width: 375px;
  min-height: 100vh;
  padding: 100px 0 96px;
  box-sizing: border-box;
  position: relative;
  
}

.archpic-title {
  color: var(--White-High, rgba(255, 255, 255, 0.88));

  
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
  margin: 0 20px 86px 20px;
}


:root {
  --item-size: 120px;
  --gap: 20px;
  --dur-slow: 40s;
}


.archpic-lane {
  position: relative;
  height: var(--item-size);
  margin: 0 16px 24px;
  overflow: hidden;
}


.archpic-track {
  display: inline-flex;
  align-items: center;
  gap: var(--gap);
  will-change: transform;
}


.lane-top .archpic-track {
  animation: top-scroll var(--dur-slow) linear infinite;
}

@keyframes top-scroll {
  from {
    transform: translateX(60px);
  }
  to {
    transform: translateX(calc(-50% + 60px));
  }
}


.lane-bottom .archpic-track {
  animation: bottom-scroll var(--dur-slow) linear infinite;
  position: relative;
}


.lane-bottom .archpic-track::after {
  content: "";
  flex: 0 0 100px;  
}


@keyframes bottom-scroll {
  
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(calc(-50% + 235px));
  }
}

.lane-bottom{
  transform: scaleX(-1);
  
  
  -webkit-transform: scaleX(-1); 
  -ms-transform: scaleX(-1);     
}

.lane-bottom img{
  transform: scaleX(-1);
  
  
  -webkit-transform: scaleX(-1); 
  -ms-transform: scaleX(-1);    
}


.archpic-img {
  width: var(--item-size);
  height: var(--item-size);
  border-radius: 20px;
  object-fit: cover;
}


@media (prefers-reduced-motion: reduce) {
  .archpic-track {
    animation: none;
  }
}
