
.runningstop-page {
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  position: flex;
}


.stop-map-wrap {
  width: 100%;
  height: 529px;
}
.stop-map {
  width: 100%;
  height: 100%;
}


.stop-panel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding: 32px 0 0 0;
  box-sizing: border-box;
  z-index: 999; 
}

.stop-stats {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 375px;
  padding: 0px 40px; 
  box-sizing: border-box;
  gap: 40px; 
}

.stat .v {
  color: var(--White-High, rgba(255, 255, 255, 0.88));


font-family: Pretendard;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 140%;
margin-bottom: 12px;
}
.stat .k {
  color: var(--White-Medium, rgba(255, 255, 255, 0.60));


font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
display: flex;
flex-direction: column;
align-items: center;

}

.stop-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 60px;
}

.ctrl-btn {
  width: 72px;
  height: 72px;
  border-radius: 999px;
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.12s ease;
}
.ctrl-btn:active {
  transform: scale(0.96);
}
.ctrl-btn.black {
  background: #2a2a2a;
}
.ctrl-btn.red {
  background: #ff003c;
}
.ctrl-btn img {
  width: 32px;
height: 32px;
flex-shrink: 0;
}


.gm-style-cc,
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
  display: none !important;
}
