.splash-wrapper {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000000;
}

.splash-logo {
  width: 180px;   
  height: auto;

  animation: fadeIn 1.2s ease-out forwards;
}


@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.9); }
  100% { opacity: 1; transform: scale(1); }
}
