/* src/pages/HomePage/HomePage.css */


.home-page-container {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    
    background-color: #121212; 
    color: #FFFFFF;
    position: relative;
    background: var(--Black, #121212);
    
    
    padding-bottom: 70px; 
    padding-top: 20px;
    overflow-y: auto; 
}

.search-icon-container{
    display: flex;
    flex-direction: column;
    padding: 8px 20px;
    position: relative;
    align-items: end;
}

.search-icon {
    position: flex;
    
    
    cursor: pointer;
    color: #FFFFFF;
}


.home-header {
    display: flex;
    flex-direction: column;
    padding: 12px 24px 20px 24px;
    position: relative;
}




.greeting {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    margin: 0;
}




.filter-section {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
}

.mvp-type-info {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 12px;
    background: var(--Black-Info, #1E1E1E);
}

.label-mvp {
    color: var(--Gray, #9E9E9E);

    
    margin: 12px 20px;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.type-name {
    color: var(--White-High, rgba(255, 255, 255, 0.88));
    display: flex;
    margin: 12px 20px;
    
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.tag-buttons-container {
    display: flex;
    
    justify-content: space-between;
    
    align-items: flex-start;
    align-self: stretch;
}
.tag-buttons-container::-webkit-scrollbar {
    display: none; 
}

.tag-button {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Black-Interact, #2C2C2C);
    color: var(--Gray, #9E9E9E);
    border: none;
    
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    cursor: pointer;
}

.tag-button.active {
    background-color: #FF003C; 
    color: var(--White-High, rgba(255, 255, 255, 0.88));
}



.course-main-content {
    padding: 0 20px;
    flex-grow: 1; 
    overflow-y: auto;
    scrollbar-width: none;
    margin-bottom: 20px;
}


.ffilter-sort-bar {
    display: flex;
    justify-content: flex-end; 
    padding: 10px 0;
    margin-right: 20px;
}

.sort-dropdown {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;         
    
    background: none;
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));
    border: none;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
    
    
    padding: 0px 19px 0px 0px; 
    
    
    background-image: url('https://runcode-likelion.s3.us-east-2.amazonaws.com/global/dropdown.svg');
    background-repeat: no-repeat;
    background-position: right center; 
    background-size: 14px 14px; 
}
.sort-dropdown option {
    background-color: #333333;
    color: #FFFFFF;
}


.loading-message, .no-course-message {
    text-align: center;
    color: #AAAAAA;
    padding: 30px 0;
}