/* src/pages/CourseAllReviewsPage/CourseAllReviewsPage.css */


.all-reviews-container {
   width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 40px 20px;
    flex-grow: 1; 
    position: relative;
}


.all-reviews-top-bar {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 20; 
    padding: 50px 16px 30px 16px;
    display: flex;
    justify-content: space-between;
   
    background: transparent;
}

.all-reviews-back-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
}



.all-reviews-title {
   
    font-size: 16px;
    font-weight: 600; 
    color: var(--White-High, rgba(255, 255, 255, 0.88));
    margin: 0;
}


.all-reviews-scroll-wrapper {
    flex-grow: 1;
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch;
    width: 100%;
    
   
    scrollbar-width: none;
}
.all-reviews-scroll-wrapper::-webkit-scrollbar {
    display: none;
}


.all-reviews-loading-screen, .all-reviews-error-screen {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--White-High, rgba(255, 255, 255, 0.88));
}