.c-detail-review-summary {
    display: flex;
    align-items: center;
    margin: 0; 
    font-size: 16px; 
    gap : 2px;
}



.c-detail-review-score-text {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    /* 본문/14/Regular */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}


.c-detail-review-count-text {
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

   
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}


.c-detail-review-item {
    padding: 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04); 
}


.c-detail-review-item-header {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    margin-bottom: 5px;
    font-size: 12px;
}


.c-detail-review-date {
    color: var(--White-Low, rgba(255, 255, 255, 0.20));

   
    flex: 1 0 0;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}


.c-detail-review-profile-line {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 8px;
}

.c-detail-user-profile-img {
    width: 41px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    background-color: #eee;
    flex-shrink: 0;
}


.c-detail-user-text {
    color: var(--White-High, rgba(255, 255, 255, 0.88));

    
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}

.c-detail-user-nickname {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}


.c-detail-review-stars {
    display: flex;
    margin-top: 2px;
    align-items: center;
}

.c-detail-review-star-icon {
    width: 14px; 
    height: 14px;
    margin-right: 2px;
}

.c-detail-review-content {
    flex: 1 0 0;
    color: var(--White-Medium, rgba(255, 255, 255, 0.60));

    
    margin-top: 12px;
    margin-bottom: 0;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
